IP=127.0.0.1

# Orion variables
ORION_PORT=1026
ORION_PORT_EXT=8082
ORION_VERSION=2.5.2
ORION_IP=127.0.0.1

# MongoDB variables
MONGO_DB_VERSION=4.2
MONGO_DB_FIWARE_PORT_INT=27017
MONGO_DB_NODE_PORT_INT=27018
MONGO_DB_FIWARE_PORT_EXT=37017
MONGO_DB_NODE_PORT_EXT=37018
MONGO_DB_LOCAL=mongodb://mongo-db-web:27018/docker-node-mongo

# IoT Agent Ultralight variables
ULTRALIGHT_VERSION=1.16.0-distroless
JSON_VERSION=1.17.0-distroless
IOTA_IP=127.0.0.1
IOTA_NORTH_PORT=4041
IOTA_SOUTH_PORT=7896

# Webserver variables
WEB_SERVER_PORT_EXT=8080
WEB_SERVER_PORT_INT=3000
WEB_SERVER_ADDRESS=0.0.0.0

# Mosquitto variables
MOSQUITTO_IP=127.0.0.1
MOSQUITTO_PORT_EXT=8081
MOSQUITTO_PORT_INT=1883
MOSQUITTO_USER=foo
MOSQUITTO_PWD=bar

# FIWARE
FIWARE_API_KEY=4jggokgpepnvsb2uv4s40d59ov
FIWARE_SERVICE=openiot
FIWARE_SERVICEPATH=/ 

