config = {
    'IP': '127.0.0.1',
    'IOTA_NORTH_PORT': '4041',
    'ORION_IP': '127.0.0.1',
    'ORION_PORT_EXT': '8082',
    'WEB_SERVER_PORT_EXT': '8080',
    'PROXY_IP': '127.0.0.1',
    'PROXY_PORT_EXT': 12345,
    'DRACO_RAW_TOPIC': 'raw',
    'DRACO_REPLAY_TOPIC': 'replay',
    'FIWARE_SERVICE': 'openiot',
    'FIWARE_SERVICEPATH': '/',
    'PLANNER_IP': '127.0.0.1',
    'PLANNER_PORT_EXT': '5051'
}
